.container{
    /* height: 100vh;
    width: 100vw; */
    background-color: yellow;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    /* grid-template-rows: 150px 600px 150px; */
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
    "header header header"
    "sidebar content content"
    "footer footer  footer"
    ;
    row-gap: 10px;
    column-gap: 10px;
}

.box{
    background-color: aqua;
    border: 3px solid green;
    text-align: center;
    align-content: center;
}

#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}

#content{
    grid-area: content;
}

#footer1{
    grid-area: footer;
}

