*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: yellow;

    display: grid;

    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto 50px;

    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer"
    ;

    column-gap: 5px;
    row-gap: 5px;
}

.box{
    /* height: 100px;
    width: 100px; */
    background-color: aqua;
}

#header{
    grid-area: header;
}

#sidebar{
    grid-area: sidebar;
}

#content{
    grid-area: content;
}

#footer{
    grid-area: footer;
}

@media(max-width:400px){  /*if the screen width goes below 400px then this code will be applied on the page*/
    .container{
        height: 100vh;
        width: 100vw;
        background-color: yellow;
    
        display: grid;
    
        grid-template-columns: auto;
        grid-template-rows: 50px 80px auto 50px;
    
        grid-template-areas: 
        "header header"
        "sidebar sidebar"
        "content content"
        "footer footer"
        ;
    
        column-gap: 5px;
        row-gap: 5px;
    }
}