* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* background-color: aqua; */
    height: 80%;
    width: 30%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 15% 75%;
    /* background-color: red; */
    gap: 1px;
}

.heading {
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    /* border: 2px solid black; */
}

.textArea {
    /* border: 2px solid black; */
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: bisque; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-text {
    height: 100%;
    width: 100%;
    resize: none;
    text-align: center;
    line-height: 70px;
    overflow: hidden;
    /* border-radius: 10px; */
    border: none;
    pointer-events: none;
}

#copyImg {
    top: 30%;
    right: 5%;
    position: absolute;
    cursor: pointer;
}

.sample {
    /* background-color: cadetblue; */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.passwordLengthContainer {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}

.passwordLengthDiv {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#passwordLength{
    height: 100%;
    width: 80%;
}

.checkboxs{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 11%;
}

.strength{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strength p{
    /* background-color: aqua; */
    margin-left: 11%;
}

.strength div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(198, 190, 190);
    margin-right: 11%;
}

.generatePassword{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#generatePassword{
    width: 70%;
    height: 100%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.checkboxs input, label{
    cursor: pointer;
}