@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #f4f4f4;
}

#heading{
    color: #333;
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: repeat(11, 350px);
    column-gap: 30px;
    row-gap: 30px;
}

.image{
    position: relative; /* we doing this because we want our text caption(which is written in <p> to be absolute and overlap above the image*/
}

.image img{
    height: 350px;
    width: 350px;
    border-radius: 15px;
    filter: grayscale();
    transition: 300ms;
}

.image img:hover{
    filter: none;
    transform: scale(1.05);
    transition: 300ms;
    filter: drop-shadow(0px 0px 20px black);
    /* box-shadow: 0px 0px 30px black; */
}

.caption{
    position: absolute;
    bottom: 0px;
    left: 40%;
    visibility: hidden;
}

.image img:hover ~  .caption{
    visibility: visible;
}

figure{
    position: relative;
}

figcaption{
    position: absolute;
    bottom: 10px;
    left: 40%;
    visibility: hidden;
}

img:hover ~ figcaption{
    visibility: visible;
}